<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bProductos</title>
</head>
<body>
    <h1>Ejemplo para mostrar nuestros modelos</h1>
    <ul>
        {% for x in misProductos %}
        <li>{{ x.codigoProducto }} - {{ x.descripcionProducto }}</li>
        {% endfor %}
    </ul>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia minus esse, molestiae repellendus sapiente, iusto deserunt non modi provident quod officiis, praesentium fuga?</p>
    <ul>
        {% for x in misProductos %}
        <li><a href="productoDetalle/{{ x.codigoProducto }}">{{ x.codigoProducto }} - {{ x.descripcionProducto }}</a></li>
    </ul>
    {% endfor %}
    
    {% include 'piePagina.html' %}
</body>
</html>