<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductoDetalle</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/productosdetalle.css' %}">
</head>
<body>
    <h1> {{ miProducto.descripcionProducto }}</h1>
    <p>Código: {{ miProducto.codigoProducto }}</p>
    <p>Descripción: {{ miProducto.descripcionProducto }}</p>
    <p>Estatus: {{ miProducto.estatus }}</p>
    <p>Retornar a <a href="/Productos">Productos</a></p>

</body>
</html>